.container {
    width: 100%;
    max-width: container-width(lg);
    margin: 0 auto;

    @include small-desctop {
        max-width: container-width(md);
    }

    @include tablet {
        max-width: container-width(sm);
    }

    @include mobile {
        max-width: none;
        padding: 0 24px;
    }
    @include mobile-xs {
        max-width: none;
        padding: 0 20px;
    }
}

body {
    @include font-family(base);
    font-weight: 400;
    font-size: 16px;

    @include mobile {
        overflow-x: hidden;
    }
    @include mobile-xs {
        overflow-x: hidden;
    }
}

// .text-wrapping::before {
//     content: "";
//     display: block;

//     @include mobile-xs {
//         display: none;
//     }
// }

// .text-wrapping.mobile-disable::before {
//     @include mobile {
//         display: none;
//     }
// }
