.btn-link {
    @include font-family(base);
    padding: 13px 42px;
    border-radius: .5rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

.btn-link.primary {
    align-self: start; 
    color: color(typography, main, 1);
    background-color: color(primary, 1);
    font-weight: 600;
    transition: background-color .3s ease;
    &:hover {
        background-color: color(bg, red, 1);
    }
}   