.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    width: 100%;
    padding: 16px 0;
}

.header.onscroll {
    padding: 9px 0;
    background-color: color(bg, white, 1);;
}