.hero {
    display: flex;
    align-items: center;

    position: relative;
    height: 100vh;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0.177), rgba(0, 0, 0, 0)), url("/img/intro/intro.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    background-color: color(bg, boilerplate);

    &__stroke-img {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 0;
        @include mobile {
            width: 100px;
            height: 334px;
            bottom: 10.5rem;

            @include moz-specific-style {
                bottom: 12.5rem;
            }
        }
    }

    &-inner {
        @include flex-between-center;
        flex-direction: column;
        gap: 25px;

        // width: 100%;
        color: color(typography, main, 1);

        &__title {
            position: relative;
            z-index: 10;
            width: 100%;

            @include font-family(heading);
            font-weight: 700;
            font-size: 54px;
            line-height: 70px;
            letter-spacing: 0.02em;
            align-self: baseline;

            @include mobile {
                width: clamp(320px, 100%, 460px);
                font-size: clamp(2rem, 7vw + 1rem, 4rem); 
                line-height: clamp(55px, 12vw, 70px);
                letter-spacing: normal;
                @include moz-specific-style {
                    width: clamp(310px, 100%, 410px);
                    font-size: clamp(2.7rem, 8vw + 1rem, 4rem); 
                    line-height: clamp(55px, 15vw, 70px);
                }
            }

            .outline-wrapper {
                position: relative;

                .outline {
                    display: inline;
                    position: absolute;
                    top: -2%;
                    z-index: -10;
                
                    transform: translateX(67%);
                    width: fit-content;
                    
                    @include moz-specific-style {
                        top: -11%;
                        right: -14%;
                        width: 124%;
                        transform: none;
                    }
                }
            }
        }

        &__subtitle {
            @include font-family(base);
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            opacity: 0.8;
            align-self: baseline;

            @include mobile {
                width: 200px;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
